{
  "dev": {
    "auth_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1aWQiOjEsInVuYW1lIjoibW9yb250dCIsImlhdCI6MTc0MDkwNTgxOCwiZXhwIjoxNzQzNDk3ODE4fQ.-nmtVdYrARA0ZrWmNLHin-QkpjEY8GvxtzfUnHN3t30"
  }
}
